.image {
  width: 450px;
  height: 450px;
}

.cardstyle {
  margin-top: 20px;
  width: auto;
  height: auto;
}

.devIcon {
  font-size: 70px;
  padding-right: 12px;
  padding-top: 10px;
  color: rgb(70, 70, 70);
}

@media (max-width: 770px) {
  .image {
    width: 350px;
    height: 350px;
  }
}
